<div class="card">
  {% include "partials/service-icon.njk" %}
  <h3>{{ service.name }}</h3>
  <p>{{ service.summary }}</p>
  <a class="card-link" href="/services/{{ service.slug }}/">{{ site.labels.learn_more }} →</a>
</div>
